# Logseq interne Dateien
logseq/bak/
logseq/.recycle/
logseq/.tdb/

# Cache und Index (werden von Logseq automatisch neu generiert)
.logseq/

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db# Logseq interne Dateien
logseq/bak/
logseq/.recycle/
logseq/.tdb/

# Cache und Index (werden von Logseq automatisch neu generiert)
.logseq/

documentation/*

!documentation/main.tex
!documentation/main.pdf

!docunmentation/*/ 

!documentation/**/

documentation/experten-breefing/*
documentation/experten-breefing/documentation-cld/*

!documentation/experten-breefing/experten-breefing.tex
!documentation/experten-breefing/experten-breefing.pdf
 
!documentation/experten-breefing/documentation-cld/doc-cld.tex
!documentation/experten-breefing/documentation-cld/doc-cld.pdf






