# Logseq interne Dateien
logseq/bak/
logseq/.recycle/
logseq/.tdb/

# Cache und Index (werden von Logseq automatisch neu generiert)
.logseq/

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db# Logseq interne Dateien
logseq/bak/
logseq/.recycle/
logseq/.tdb/

# Cache und Index (werden von Logseq automatisch neu generiert)
.logseq/

documentation/*

!documentation/main.tex

!docunmentation/*/ 

!documentation/**/








